*{
    margin: 0;
    padding: 0;
}
    

.pic{
    float: left;
    width: 30.42%;
    padding: 10px;
    border: none;
    

}
.img::after{
    content: "";
    clear: both;
    display: table;
}
.img h4{
    font-family: 'Times New Roman';
    font-size: 22px;
    color: black;
    text-align: center;
    margin-top: 1%;
    color: darkblue;
}
.img .pa{
    font-family: 'Times New Roman';
    font-size: 18px;
    text-align: center;
    margin-top: 1%;
    color: rgb(20, 19, 17);
}